*.o
build/
jpeg-6b/cjpeg
jpeg-6b/djpeg
jpeg-6b/jpegtran
jpeg-6b/*.a
jpeg-6b/*.lo
jpeg-6b/rdjpgcom
jpeg-6b/wrjpgcom
jpeg-6b/config.guess.cdbs-orig
jpeg-6b/config.sub.cdbs-orig
docs/paper/jpegsteg.aux
docs/paper/jpegsteg.bbl
docs/paper/jpegsteg.blg
docs/paper/jpegsteg.log
obj-x86_64-linux-gnu/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config-aux/config.guess
config-aux/config.sub
config-aux/depcomp
config-aux/install-sh
config-aux/missing
config.log
config.status
configure
jblock
jel.pc
jhist
jpeg-6b/.dirstamp
jpegtran
jquant
libjel.a
libjel/.deps/
libjel/.dirstamp
libjpeg.a
jpeg-6b/.deps/
rscode/.deps/
rscode/.dirstamp
stegtester/main
utils/.deps/
utils/.dirstamp
unwedge
wcap
wedge
